@media screen and (max-width: 991px) {
	header {
		height: 60px;
	}
	.proposal .img__item__block {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.proposal {
		.proposal__left__block {
			margin-top: 0;
			margin: 0 auto;
			button {
				height: 35px !important;
			}
		}
		.proposal__item {
			margin-top: 5px;
			padding-left: 0px;
		}
		.proposal__left__bonus {
			p {
				margin: auto 0px auto 8px;
			}
		}
	}
	.baran .price__baran,
	.baran .weight__baran {
		margin-top: 0;
	}
	.proposal .button_2 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.info__block {
		padding: 5px 15px;
	}
	.baran__button {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.cook .cook__block .cook__top__left .cook__top__cop {
		margin-left: 0;
		width: 150px;
	}
	.cook {
		.cook__price-1 {
			margin-top: 20px !important;
		}
		.cook__block {
			.cook__top__left {
				.cook__top__col {
					margin-bottom: 10px;
					width: 150px;
				}
			}
		}
		.cook__top__buttons {
			width: 250px;
			justify-content: center;
		}
	}
	.cook .cook__block .cook__top__center img {
		width: 25%;
	}
	.cook__top__left {
		.cook__top__set {
			p:not(:last-child) {
				height: 10px;
			}
		}
	}
	.cook .cook__left-take button {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.big__company {
		margin-top: 50px;
		.item__name {
			height: 60px;
		}
	}
	.big__company__item {
		.item__name {
			height: 35px;
			p {
				font-size: 20px;
			}
		}
	}
	.first__img {
		text-align: center;
	}
	.cook {
		.cook__top__right {
			display: none;
		}
		.cook__top__center {
			display: none;
			img {
				display: none;
			}
		}
	}
	.cook .cook__block .cook__top__left .cook__top__col {
		width: 170px;
	}
	.cook {
		.cook__block {
			.cook__top__cop {
				margin-left: 10px;
			}
		}
	}
	.cook .cook__left-take .cook__price__video {
		margin-top: 15px;
		margin-left: 0;
	}
	.baran__reverse {
		flex-direction: column-reverse;
	}
	.baran__reverse__button {
		flex-direction: column-reverse;
	}
	.videos .video__header-right {
		padding-left: 0;
	}
	.instagramm {
		.inst__head__left {
			padding-left: 0px;
		}
	}

	.videos .vid__1 .video__text .video__opis,
	.videos .vid__2 .video__text .video__opis {
		font-size: 12px;
	}
	.videos .vid__1 .video__text img,
	.videos .vid__2 .video__text img {
		width: 20px;
	}
	.videos .vid__1 .video__text .video__play,
	.videos .vid__2 .video__text .video__play {
		width: 50px;
		height: 50px;
		border-radius: 10px;
	}
	.videos .vid__1 .video__text img,
	.videos .vid__2 .video__text img {
		margin-top: 13px;
		margin-left: 15px;
	}
	.videos .vid__1 .video__text,
	.videos .vid__2 .video__text {
		margin-top: -70px;
	}
	.videos .vid__1 img,
	.videos .vid__2 img {
		margin: 10px 0;
	}
	.videos {
		margin-top: 30px;
	}
	.map {
		margin-top: 30px;
	}
	.map .map__card .map__top__info .white__block .map__time p {
		font-size: 15px;
	}
	.map .map__card .map__top__info {
		top: 10px;
	}
	.map .map__card .map__button {
		bottom: 30px;
		width: 250px;
	}
	.baran {
		.baran__button {
			width: 250px;
			font-size: 15px;
			padding: 10px 5px;
		}
	}

	.footer {
		.footer__content {
			.footer__top__margin {
				margin-bottom: 10px;
			}
		}
		.footer__background__img {
			display: none;
			margin-top: 20px;
			width: 30px;
			height: 30px;
			img {
				width: 10px;
				margin-top: 5px;
				margin-left: 10px;
			}
		}
		.footer__bumber__content {
			.footer__bumber__conten__text-2 {
				font-size: 18px;
			}
		}

		.button__footer {
			font-size: 11px;
		}
		.footer__number,
		.footer__mail {
			margin-left: 10px;
		}

		.bottom__content {
			.download {
				margin-top: 30px;
			}
			.footer__item__googleplay {
				margin-left: 185px;
			}
		}
		.footer__button {
			margin-top: -25px;
		}
		.button__up {
			img {
				margin-left: 1px;
				margin-top: 1px;
			}
		}
		.download {
			.ios__span {
				margin-left: 0;
			}
			.play__market__conent {
				span {
					margin-left: 0;
				}
			}
		}
	}
}
