@media screen and (max-width:480px){
	header .header__logo__img {
		width: 350%;}
	.cook .cook__block .cook__top__left .cook__top__name-1 {
		font-size: 40px;
	margin-bottom: 15px;
	}
	.cook .cook__block .cook__top__left .cook__top__name-2 {
		font-size: 33px;
	}
	.potato__baran{
		margin-top: 20px;
	}
	.cook{
		.br__cook{
			display: inline;
		}
	}
	.cook__content__left, .cook__content__right{
		font-size: 12px;
	}
	.baran__button{
		width: 150px;
		font-size: 12px;
		padding: 10px 5px;
	}
	.videos .video__header-right {
		font-size: 13px;
	}
	.proposal .proposal__left__block {
		padding-left: 50px;
	}
	.proposal .proposal__left__block .proposal__left__bonus{
		margin-top: 0;

	}
	.cook .cook__left-take .button_2 {
		align-items: center;
		font-size: 14px;
	}
	.cook .cook__left-take button img {
		width: 20px;
	}
	.price__cook__constructor{
		padding: 0 !important;
	}
	.proposal .proposal__left__text-1 {
		font-size: 38px;
		
	}
	.proposal .proposal__left__text-2 {
		font-size: 27px;
		margin-bottom: 0;
	}
	.cook__content__left{
		padding-left: 0 !important;
	}
	.cook__content__right{
		padding-left: 0 !important;
	}
	.cook .cook__left-take .cook__price-1 {
		font-size: 14px;
	}
	.cook .cook__left-take .cook__price__video {
		font-size: 12px;
	}
	.cook .cook__left-take .button_2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.potato__baran{
		margin-top: 10px;
	}
	.instagramm{
		margin-top: 40px;
		font-size: 35px;
		.inst__head__right{
			font-size: 38px;
		}
		.inst__head__left{
			span{
				font-size: 18px;
			}
			img{
				width: 16px;
			}
		}
		.instagramm__images{
			.inst__img-2{
				display: none;
			}
		}
	}
	.map .map__adress .map__name__text-2 {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.map {
		.map__name{
			.map__name__text-1{
				font-size: 29px;
			}
		}
		.map__card {

			.map__button {
				display: none;
			}
		}
	}
	.uzbek__dish{
		.top__name{
			font-size: 35px;
		}
	}
	.dishes{ 
		.top__name {
			font-size: 30px;
	
		}
	}
	.big__company h2{
		font-size: 30px;
	}
	.footer {
		margin-top: 50px;
		.footer__content {
			.footer__top__margin {
				margin-bottom: 10px;
			}
		}
		.footer__background__img {
			margin-top: 20px;
			width: 30px;
			height: 30px;
			img {
				width: 10px;
				margin-top: 5px;
				margin-left: 10px;
			}
		}
		.footer__bumber__content {
		}
		.footer__bumber__conten__text-1 {
		}
		.footer__bumber__conten__text-2 {
			font-size: 10px;
		}
		.button__footer {
			font-size: 11px;
			
		}
		.footer__number,
		.footer__mail {
			margin-top: 5px;
		}

		.bottom__content {
			margin-top: 40px;
		}
		
		.footer__button {
			margin-top: 10px;
			margin-left: 25px;
		}
		.footer__white__button {
		}
		.button__up {
			display: none;
		}
		.first__column {
			
			img {
				font-size: 10px;
			}
			a {
				font-size: 10px;
			}
			a:hover {
			}
		}
		.download {
			margin-left: 30px;
			.ios__span{
				margin-left: 0
			}
			.messengers__color {
			}

			a {
			}
			.play__market__conent {
				img {
				}
				span {
					margin-left: 15px;
					font-size: 12px;
					padding: 10px;
				}
			}
		}

		.footer__item__ios {
			margin-left: 30px !important;
			margin-bottom: 40px;
		}
	}
	

	
}