@media screen and (max-width: 1200px) {
	.mobile__menu {
		display: block;
	}
	.menu {
		display: none; /* пункты меню скрыты */
		background: #f1f2f4;
		position: absolute;
	}

	.menu li {
		display: block; /* пункты меню в столбцах */
	}

	.menuBurger {
		display: inline-block; /* иконка гамбургер видна */
	}
	.big__company {
		margin-top: 50px;
	}
	.big__company__item {
		margin-top: 0px;
		img {
			width: 185px;
		}
		.item__img {
			height: 200px;
		}
		.item__name {
			p {
				font-size: 16px;
			}
		}
		.item__price {
			p {
				font-size: 18px;
			}
		}
		.item__buy__- {
			margin-left: 10px;
		}
		.item__buy__plus {
			margin-right: 10px;
		}
		.item__buy__text {
			font-size: 13px;
		}
	}

	header {
		height: 85px;
		.header__br {
			display: none;
		}
		.menu__header {

			.first__menu__li {
				margin-left: 0;
			}

			.menu__header__phone {
				.bacground__phone {
					
				}

				.number {
					
				}
			}
			.menu__header__button__block {
				.menu__header__phon{
					position: absolute;
					right: 300px;
					top: 20px;
					.bacground__phon{

					}
					.number{

					}
				}
				.menu__header__button__menu {
					width: 100%;

					.header__menu {
						z-index: 10;
						flex-direction: column;
						margin-left: 30px;
						font-size: 14px;
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						margin: 0;
						padding: 50px;

						li {
							margin-top: 10px;
						}
					}
				}

				.menu__header__button {
					span {
					}

					a {
					}

					img {
					}

					.buton__header__buy {
					}
					.header__button__color {
						margin-left: 0;
						position: absolute;
						right: 60px;
						top: 8px;
						padding: 10px 5px;
						

						span {
							margin-left: 5px;
							display: none;
						}
						.sum__items {
							margin-left: 5px;
							p {
							}
						}
					}
					.button__color__black {
						display: none;
						a {
						}
						span {
						}
					}
				}
			}
		}
	}

	.proposal{
		.proposal__left__text-1 {
			font-size: 45px;
		}
		.proposal__left__text-2 {
			font-size: 30px;
			margin-top: 5px;
		}
		.proposal__left__bonus {
			p {
				font-size: 14px;
			}
			margin-top: 10px;
		}
	}

	.proposal:first-child{
		margin-top: 85px;
	}

	.info {
		.info__block {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.cook .cook__block .cook__top__right .cook__top___right-1 {
		font-size: 20px;
	}
	.cook {
		.cook__left-take {
			.cook__price-1 {
				font-size: 21px;
			}
		}
		.cook__block {
			.cook__top__left {
				.cook__top__name-2 {
					font-size: 41px;
				}
			}
			.cook__top__right {
				.cook_top__right__img {
				}
			}
		}
		.cook__top__col {
			span {
				font-size: 12px;
			}
			.cook__top__col-1,
			.cook__top__col-2 {
				margin: 0 3px !important;
			}
		}
	}
	.cook__content__left,
	.cook__content__right {
		font-size: 15px;
	}
	.proposal {
		.price__baran {
			font-size: 20px;
		}
		.weight__baran {
			font-size: 20px;
		}
	}
	.videos .vid__1 .video__text .video__opis,
	.videos .vid__2 .video__text .video__opis {
		margin-left: 10px;
	}
	.video__text .video__time,
	.videos .vid__2 .video__text .video__time {
		margin-left: 10px;
	}
	.videos .vid__1 .video__text .video__time,
	.videos .vid__2 .video__text .video__time {
		margin-left: 10px;
	}
	.videos .vid__arrow .vid__arrow__right {
		display: none;
	}
	.videos .vid__arrow .vid__arrow__left {
		display: none;
	}
	.videos .video__header-right {
		padding-left: 140px;
	}
	.baran .baran__button {
		font-size: 15px;
	}
	.map {
		margin-top: 70px;
		.map__card {
			.car__icon {
				margin-top: auto;
				margin-bottom: auto;
			}
			.map__top__info {
				top: 30px;
				.white__block {
					border: 1px solid #c0482f;
					margin-left: 0;
					margin-left: 10px;
					.map__time {
						margin: auto;
						p {
							margin: auto;
						}
					}
					p {
						margin-top: 0;
					}
				}
			}

			.train__map__block-p {
				margin: auto;
			}
		}

		.red__map__block {
			font-size: 15px;
			padding: 0;

			span {
			}
		}
		.car__icon {
			display: none;
		}
		.map__button {
			bottom: 0;
			margin-bottom: -60px;
			p {
				margin-top: 0;
			}
		}
	}
}
.instagramm {
	.inst__head__left {
		padding-left: 150px;
	}
	.instagramm__images {
		margin: auto;
		.first__img {
			text-align: center;
		}
		.images__inst {
			text-align: center;
		}

		img {
			margin-top: 10px;
		}
	}
}
.footer {
	.footer__content {
		.footer__top__margin {
			margin-bottom: 40px;
		}
	}
	.footer__background__img {
		width: 50px;
		height: 50px;
		img {
			width: 20px;
		}
	}
	.footer__bumber__content {
	}
	.footer__bumber__conten__text-1 {
	}
	.footer__bumber__conten__text-2 {
		font-size: 15px;
	}
	.button__footer {
	}
	.footer__number,
	.footer__mail {
	}

	.bottom__content {
	}
	.footer__button {
	}
	.footer__white__button {
	}
	.button__up {
		img {
		}
	}
	.first__column {
		img {
		}
		a {
		}
		a:hover {
		}
	}
	.download {
		margin-left: 200px;
		margin-top: 20px;
		.messengers__color {
		}

		a {
		}
		.play__market__conent {
			img {
			}
			span {
			}
		}
	}
}
