@media screen and (max-width: 769.9999px) {
	header {
		.header__logo__img {
			width: 100px;
		}
	}
	.footer .footer__content {
		height: 230px;
	}
	.footer .button__footer {
		margin-left: 20px;
	}
	.instagramm {
		margin-top: 50px;
	}
	.footer .bottom__content .download {
		margin-left: 40px;
	}
	.instagramm .instagramm__images .inst__img-3 {
		display: none;
	}
	.footer .download .play__market__conent span,
	.footer .download .ios__span {
		padding: 5px;
	}
	.dishes {
		.top__name {
			font-size: 38px;
		}
	}
	.proposal {
		.proposal__right {
			width: 80%;
			margin: 0 auto;
			padding-right: 10px;
		}
		.proposal__left {
			margin: 0 auto;
		}
		.proposal__right {
			margin: 0 auto;
		}
		.proposal__str-1 {
			flex-direction: column-reverse;
		}
	}
	.footer .footer__number,
	.footer .footer__mail {
		margin-bottom: 20px;
	}
	.footer .footer__number {
		margin-top: 1px;
	}
	.baran .price__baran,
	.baran .weight__baran {
		padding-left: 0;
	}
	.cook__content__left,
	.cook__content__right {
		font-size: 13px;
	}
	.cook .cook__left-take .cook__price-1 {
		font-size: 18px;
	}
	.cook .cook__left-take .cook__price__video {
		font-size: 15px;
	}
	.cook .cook__left-take .button_2 {
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.proposal .proposal__left__block {
		padding-left: 70px;
	}
	.big__company__item img {
		width: 200px;
	}
	.big__company__item .item__img {
		height: 220px;
	}
	.baran__reverse {
		flex-direction: column-reverse;
	}

	.baran .proposal .proposal__left__block button {
		margin: 10px 60px 20px 60px;
	}

	.videos .video__header-right {
		padding-left: 30px;
	}
	.price__baran,
	.baran .weight__baran {
		margin-top: 10px;
	}
	.baran .price__baran {
		margin-left: 10px;
	}
	.map__card .map__top__info .white__block {
		margin-left: 0 !important;
	}
	.baran .price__baran {
		margin-left: 0;
	}
	.map__card .map__top__info {
		display: none;
	}
	.map .map__card .map__top__info {
		top: unset;
	}
	.map {
		margin-top: 40px;
		.map__name {
			.map__name__text-1 {
				font-size: 38px;
			}
		}
		.map__adress {
			.map__name__text-2 {
				font-size: 25px;
				margin-bottom: 25px;
			}
		}
		.map__card {
			.red__map__block {
				font-size: 12px;
				padding: 0;
			}
		}
	}
	.baran {
		padding: 20px;
		.proposal__left__block {
			p {
			}
		}
	}

	.footer {
		margin-top: 50px;
		.footer__content {
			height: 300px;
			.footer__top__margin {
				margin-bottom: 10px;
			}
			.bottom__content {
				.button__up {
					display: none;
				}
				.first__column__style {
					margin-left: 25px;

					img {
					}
					a {
						
					}
					a:hover {
					}
				}
			}
		}
		.footer__background__img {
			margin-top: 20px;
			width: 30px;
			height: 30px;
			img {
				width: 10px;
				margin-top: 5px;
				margin-left: 10px;
			}
		}
		.footer__bumber__content {
		}
		.footer__bumber__conten__text-1 {
		}
		.footer__bumber__conten__text-2 {
		}
		.button__footer {
			font-size: 11px;
		}
		.footer__number,
		.footer__mail {

		}

		.footer__button {
		}
		.footer__white__button {
		}

		.first__column__style {
			margin-left: 25px;

			img {
			}
			a {
			}
			a:hover {
			}
		}
		.bottom__content{
			.download{
				margin-top: 20px;
			
			}
			.footer__item__googleplay{
				margin-left: 220px;
			}
		}
		.download {
			margin-top: 12px;
			.ios__span {
				margin-left: 0;
			}
			.messengers__color {
			}

			a {
			}
			.play__market__conent {
				padding: 10px;
				img {
					margin-left: 0;
					margin: auto;
					width: 15px;
				}
				span {
					margin-left: 0;
					padding: 5px;
				}
			}
		}

		.footer__item__ios {
			margin-left: 30px !important;
			margin-bottom: 40px;
		}
	}
}
