.baran {
	margin-top: 50px;
	.price__baran,
	.weight__baran {
		margin-top: 30px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.price__baran {
		color: #331f1c;
		font-size: 20px;
		justify-content: center;
		margin: auto;
	}
	.weight__baran {
		font-size: 30px;
		color: #a99d95;
		margin: auto;
	}
	.opis__baran {
		color: #331f1c;
		font-weight: 500;
	}
	.baran__reverse__button {
		margin: auto;
	}
	.baran__button {
		margin-bottom: 0;
		margin: auto;
		height: 40px;
		font-size: 12px;
	}
}
