.baran {
	.price__baran,
	.weight__baran {
		margin-top: 30px;
		font-family: "TT Firs Neue Regular";
		margin-bottom: 5px;
	}
	.price__baran{
		color: #331f1c;
		font-size: 30px;
		margin-left: 10px;
		justify-content: center;
		margin: auto;
	}
	.weight__baran{
		font-size: 30px;
		margin-left: 10px;
		color: #a99d95;

	}
	.opis__baran{
		color: #331f1c;
		font-family: "TT Firs Neue Medium";
	}

}
