.big__company__item {
	border: 1px solid #f0e9db;
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 20px;
	height: 100%;


	.item__img {
		height: 250px;
		margin-top: 10px;
		img {
			margin-top: 20px;
		}
	}
	img {
		width: 230px;
		display: block;
		margin: auto auto;
	}

	.item__name {
		p {
			text-align: center;
			font-weight: 800;
			font-weight: bold;
			font-size: 20px;
			color: #331f1c;
		}
	}
	.item__text {
		padding: 0 20px;
		p {
			color: #ada5a4;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
		}
	}
	.item__price {
		p {
			color: #331f1c;
			font-weight: 800;
			font-weight: bold;
			font-size: 25px;
			text-align: center;
		}
	}
	.item__buy__plus {
		margin-right: 20px;
	}
}
.big__company {
	margin-top: 100px;
	
	h2{
		font-weight: bold;
		font-size: 40px;
	}
}
.card__item{
	margin-bottom: 10px;
}
