.dishes{
	margin-top: 60px;
	.top__name{
		color: #331f1c;
		font-size: 45px;
		font-family: "TT Firs Neue Regular";
	}
	.uzbek__dish__menu{
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.uzbek__dish__menu p{
		color: #81736c;
		font-family: "TT Firs Neue ExtraBold";
		background-color: #f7f1e5;
		border-radius: 15px;
		padding: 5px 10px;
		margin: 0 10px;

	}
}