li {
	list-style-type: none;
}
html,
body {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none !important;
}
button {
	border: none !important;
	cursor: pointer !important;
}
button:active {
	border: 1px solid rgba(1, 1, 1, 0);
}
