li {
	list-style-type: none;
}
html,
body {
	font: 400 16px/1.5 "TT Firs Neue", sans-serif;
	height: 100%;


}
body{
	overflow-x:hidden; 
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none !important;
}
button {
	border: none !important;
	cursor: pointer !important;
}
button:active {
	border: 1px solid rgba(1, 1, 1, 0);
}
.global{
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
