.proposal {
	.container {
		background-color: #f7f1e5;
		border-radius: 30px;
	}

	.proposal__left__block {
		margin-top: 40px;
		padding-left: 8%;
	}
	.proposal__left__text-1 {
		color: #c0482f;
		font-size: 45px;
		font-weight: 800;
		margin-bottom: -10px;
		margin-top: 20px;
	}
	.proposal__left__text-2 {
		font-weight: 400;
		font-size: 45px;
		margin-top: -15px;
	}
	.img__item__block {
		width: 100%;
		height: auto;
		margin: auto auto;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.proposal__right {
		margin: auto auto;
		padding-right: 40px;
	}
	.icon {
		width: 22px;
	}

	.proposal__left__bonus {
		margin: 5px;
		p {
			font-size: 15px;
			font-weight: 500;
			margin: auto 0px auto 10px;
		}
	}
	.button_2 {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
.proposal__head {
	margin-top: 135px;
}
