.uzbek__dish{
	.top__name{
		font-size: 45px;
		font-family: "TT Firs Neue Regular";
		color: #331f1c;
		font-weight: bold;
	}
	.uzbek__dish__menu p{
		background-color: #f7f1e5;
		color: #81736c;
		margin: 0 10px;
		padding: 8px;
		border-radius: 10px;
		font-size: 15px;
		font-family: "TT Firs Neue ExtraBold";
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 35px;
	}
}