.info__block{
	border: 1px solid white;
	background-color: white;
	border-radius: 30px;
	-webkit-box-shadow: 13px 12px 54px -29px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 12px 54px -29px rgba(0,0,0,0.75);
	box-shadow: 13px 12px 54px -29px rgba(0,0,0,0.75);
	font-family: "TT Firs Neue Medium";
	color: 331f1c;
	font-size: 15px;
	padding: 15px 15px;
	margin-top: 30px;
	width: 250px;
	.info__img{
		width: 35px;
		margin-left: 10px;
		margin-right: 25px;
	}
}